{% extends 'restaurant/base.html' %}
{% load bootstrap4 %}

{% block page %}
    <style>
        #account{
            {% comment %} padding-left: 20%; {% endcomment %}
            background-color:  #e3e3ec;
            margin-left: 20%;
        }
    </style>
    <div class="col-lg-offset-2 col-lg-8" id='account'>
        <div class="panel">
            <div class="panel-heading bg-blue">
                <h4 class="panel-title text-center text-white">
                    Account
                </h4>
            </div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    {% bootstrap_form restaurant_form %}
                    <button type="submit" class="btn btn-pink">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
